/.omx/
/.env
/docker/.env
/docker/.env.*
/docker/.env.local
/docker/.env.production
/docker/.env.development

/upload/
/postgres/
/data/

/server-rs/target/
/server-rs/.env

/web/node_modules/
/web/.svelte-kit/
/web/build/
/web/dist/

/machine-learning/.venv/
/machine-learning/__pycache__/
/postgres/*
/upload/*

/tmp/
*.log
*.pid
*.swp
/node_modules/
/.github/node_modules/
/.DS_Store
